a:focus {
	outline: none !important;
}
body {
	font-family: 'Open Sans', sans-serif;	
}
.header-area {
	position: relative;
}
.header-area .container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
}
.slider-area {
	position: relative;
}
.slider-area::before{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background-color: #000;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: .5;
}
.menu-area ul.nav li:hover a, .menu-area ul.nav li.active a {
		background-color: #DD374D;
}
.menu-area ul.nav li a {
	color: #fff;
	text-transform: uppercase;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13px;
	margin: 0 5px;
}
.header-top {
	line-height: 85px;
	height: 85px;
}
.logo {
	padding-top: 30px;
	padding-left: 100px;
}
.carousel-control{
	z-index: 1;
}
.slider-icon {
	margin-top: 100%;
}
.slider-icon i{
	font-size: 50px;
}
.carousel-caption {
	top: 40%;

}
.carousel-caption h2 {
	font-size: 30px;
	padding-bottom: 20px;
	text-transform: uppercase;
} 
.carousel-caption p {
	font-size: 12px;
	color: #f9ad18;
}
.button-down {
	position: absolute;
	font-size: 50px;
	bottom: 0;
	color: #fff;
	left: 50%;
	z-index: 11;
	font-weight: 300;
	display: block;
	overflow: hidden;
}
.button-down:hover {
	color: #f9ad18;
}
.about-area {
	padding: 50px 0;
}
.about-us h1 {
	padding-bottom: 60px;
	color: #000;
	font-size: 36px;
}
.about-us span {
	color: #f9ad18;
	font-weight: 600;
}
.about-us p {
	color: #363636;
	font-size: 14px;
	line-height: 24px;
}
.services-area {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: auto;
	position: relative;
	padding: 50px 0;
}
.services-area::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: .5;
}
.services-image {
	display: inline-block;
	border: 1px solid #fff;
	padding:18px;
	border-radius: 50%;
	width: 85px;
	height: 85px;
	overflow: hidden;
	line-height: 40px;
}
.services-image img{
	width: 35px;
	height: 40px;
}
.single-services h1 {
	font-size: 23px;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.single-services p {
	color: #fff;
	font-size: 12px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.single-services:hover .services-image{
	background-color: #DD374D;
	border: 1px solid #DD374D;
}
.testimonials{
	padding: 40px;
}
.testimonial-icon{
	position: relative;
	margin-bottom: 50px;
}
.testimonial-icon::before{
	background-color: #fff;
	height: 1px;
	bottom: 11px;
	left: 0;
	content: "";
	position: absolute;
	width: 48%;
}
.testimonial-icon::after{
	background-color: #fff;
	height: 1px;
	bottom: 11px;
	right: 0;
	content: "";
	position: absolute;
	width: 48%;
	margin: 
}
.testimonial-icon i{
	color: #fff;
	border: 1px solid #dd374d;
	font-size: 11px;
	line-height: 12px;
	border-radius: 50%;
	padding: 5px 6px;
}
.test-monial .item p{
	color: #fff;
	font-size: 15px;
	padding-bottom: 30px;
}
.test-monial .item h4{
	color: #fff;
	font-size: 20px;
}
.test-monial .item span{
	color: #fff;
	font-size: 12px;
	display: inline-block;
	padding-bottom: 50px;
}
.our-testimonial .carousel ol { 
  bottom: 0;
}
.carousel-indicators .active{
	background-color: #dd374d;
}
.carousel-indicators li{
	border-color: #dd374d;
}
.special-area {
	padding: 50px 0;
}
.tabs-section h1{
	color: #252525;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-size: 30px;
}
.tabs-area ul.nav li a{
	border-radius: 0;
	padding-left: 73px;
	padding-right: 73px;
	border: 1px solid #ddd;
	font-size: 14px;
	color: #868585;
	margin: 0;
}
.tabs-area ul.nav li.active a, .tabs-area ul.nav li:hover a {
	border-bottom: 0px solid transparent;
	border-top: 2px solid #dd374d;
	background-color: #fff;
}
.tab-content {
	border: 1px solid #ddd;
	border-top: none;
	padding: 23px;
}
.single-tab p {
	color: #868585;
	font-size: 14px;
}
.tab-services {
	margin-top: 30px;
}
.singleTab-service h3 {
	color: #868585;
	font-size: 16px;
}
.singleTab-service i {
	color: #dd374d;
	font-size: 25px;
  border: 1px solid #ddd;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	padding: 24px 17px;
	background-color: #ddd;
}
.singleTab-service i:hover {
	color: #fff;
	background-color: #dd374d;
	border-color: #dd374d; 
}

.our-progess h2 {
	font-size: 30px;
	text-transform: uppercase;
	color: #252525;
	padding-bottom: 15px
}
.our-progess p {
	color: #868585;
	font-size: 14px;
}
.ourProgess-bar {
	margin-top: 30px; 
}
.single-title {
	margin-bottom: 4px;
}
.single-title span {
	color: #868585;
}
.single-title span:last-child {
	float: right;
}
.progress {
	height: 7px;
}
.worksTitle-area {
	background-color: #EEEEEE;
	padding: 70px 0;
}
.works-title h1 {
	text-transform: uppercase;
	font-size: 30px;
	color: #434343;
}
.works-title p {
	color: #434343;
	font-size: 13px;
}
.work-icon{
	margin: 15px;
}
.work-icon i{
	position: relative;
	color: #dd374d;
	font-size: 11px;
	border: 1px solid #868585;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	padding: 6px 6px;
}
.work-icon::before {
	content: "";
	position: absolute;
	height: 1px;
	left: 0;
	top: 60%;
	width: 48%;
	background-color: #868585;
} 
.work-icon::after{
	content: "";
	position: absolute;
	height: 1px;
	right:0;
	top: 60%;
	width: 48%;
	background-color: #868585;
}
.portfolio-area {
  padding: 50px 0;
}
.single-portfolio{
	margin-bottom: 15px;
	margin-left: 15px;
}
.single-portfolio img{
	width: 100%;
	height: 90%;
}
.portfolio ul.portfolio-filter {
	list-style: none;
}
.portfolio ul.portfolio-filter li {
	display: inline-block;
	padding-bottom: 30px;
}
.portfolio ul.portfolio-filter li span{
	font-weight: 700;
}
.portfolio ul.portfolio-filter li:last-child span {
	display: none;
}
.portfolio ul.portfolio-filter li a{
	font-style: italic;
	color: #555555;
	padding-left: 15px;
	padding-right: 15px;
}
.portfolio ul.portfolio-filter li:hover a,
.portfolio ul.portfolio-filter li.active a {
	color: #dd374d;
	text-decoration: underline;
}
.counter-area {
	padding: 50px 0;
}
.single-counter h5{
	font-style: italic;
	color: #dd374d;
	padding-top: 10px;
	font-size: 13px;
	font-weight: 500;
}
.single-counter img {
	
}
.single-counter span{
	font-size: 45px;
	font-weight: 700;
	color: #555
}
.getTouch-area {
	background-color: #dd374d;
	padding-top: 50px;
}
.get-touch h1{
	color: #fff;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
}
.get-touch p {
	color: #fff;
	font-size: 13px;
}
.map-icon{
	margin-top: 20px;
}
.map-icon i{
	color: #fff;
	font-size: 25px;
	border: 2px solid #fff;
	height: 50px;
	width: 50px;
	background-color: #dd374d;
	border-radius: 50%;
	padding: 11px;
	position: relative;
	z-index: 1;
}
.touch-icon{
	margin: 10px;
}
.touch-icon i {
  position: relative;
	color: #fff;
	font-size: 15px;
	border: 1px solid #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	padding: 3px 3px;
}
.touch-icon::before{
  content: "";
	position: absolute;
	height: 1px;
	left: 0;
	top: 60%;
	width: 48%;
	background-color: #fff;
}
.touch-icon::after{
	content: "";
	position: absolute;
	right: 0;
	top: 60%;
	height: 1px;
	background-color: #fff;
	width: 48%;
}
.google-maps {
	margin-top: -25px;
}
.footer-area {
	background-color: #555555;
	padding: 15px 10px;
}
.social-icons{
	margin: 5px;
}
.social-icons i {
	color: #fff;
	border: 1px solid #fff;
	font-size: 10px;
	padding: 4px 4px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin: 5px;
}
.copyright{
	color: #fff;
	font-size: 13px;
}